<app-header titulo="Fab"></app-header>

<ion-content>
    <!-- fab placed to the top end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
 <ion-list>
  <ion-item *ngFor="let item of data; let i=index">
    <ion-label>Item {{ i+ 1 }}</ion-label>
  </ion-item>
 </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
