<app-header titulo="Cards"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the
      woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, odio excepturi? Nesciunt laborum doloribus laboriosam ratione cupiditate. Iusto ratione alias corporis unde odit, nesciunt ea voluptatibus delectus dicta, libero voluptas?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.buenosaires.gob.ar/sites/gcaba/files/al_avenida_9_dejulio.jpg"/>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed atque odit dolorum delectus minus tempora itaque, et quas molestias facilis quia voluptate, maiores nisi placeat corporis voluptatem magni id odio?
    </ion-card-content>
  </ion-card>
</ion-content>
